body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatform {
  padding: 3px;
  bottom: 0;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#chatwindow {
  overflow: none;
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  background-color: #395C82;
  color: white;
  margin-bottom: 13px;
  -webkit-box-shadow: 8px -7px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px -7px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 8px -7px 5px 0px rgba(0,0,0,0.75);
}
#messagewindow {
  overflow: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: 300px;
}
